
            	<% @helps.each do |help| %>
            	<article class="simple-item">
            		<h4 class="sitem-title"><a href="/help/show/<%= help.alias %>"><%= help.title %></a></h4>
            		<p class="sitem-text"><%= truncate help.text, :length => 160 %></p>
            	</article>
            	<% end %>