<!-- Блок с заголовком -->
<div class="entity-title">
    <h2>О компании</h2>
    <p></p>
    <div class="clear"></div>
</div>

<div class="about">
    <!--Заголовочек-->
    <div class="text">
      <%= raw @company.description %>
    </div>
</div>
