<!-- Блок с заголовком -->
<div class="top">
    <h1 class="page-title">Результаты поиска по запросу &quot;<%= params[:q] %>&quot; найдено:</h1>
</div>

<div id="search_results"><%= render :partial => 'search_results' %></div>
