<div class="simple-page">
  <a class="green-button" href="<%= new_company_panel_warranty_path %>">Добавить гарантию</a>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <%= render :partial => 'warranty', :collection => @warranties %>
</div>
