<div class="simple-page">
  <a class="green-button" href="<%= new_company_panel_delivety_path %>">Добавить доставку</a>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <%= render :partial => 'delivety', :collection => @deliveties %>
</div>
