<div class="cabinet-item">
    <div class="item-header">
        <div class="item-header-image"><img src="img/temp/ava-2.png" alt="" /></div>
        <div class="item-header-info">Сегодня, в 21:00 Иван Иванов добавил запись</div>
        <div class="clear"></div>
    </div>
    <article class="review">
        <div class="review-container">
            <div class="review-image"><img src="img/temp/phone.png" /></div>
            <div class="review-content">
                <p class="review-title"><a href="#" class="review-view">Отзыв о сотовом телефоне Fly E170</a></p>
                <div class="review-detail">
                    <div class="detail-full">
                        <p><b>Достоинства:</b>  + Экран (четкий, яркий)<br />
                        + Сенсор,очень отзывчивый<br />
                        + Стиль само собой <br />
                        + Батарейка (в режиме использования как телефон 3-4 дня)<br />
                        + Мощная начинка (ничего!!! не тормозит)</p>

                        <p><b>Недостатки:</b> Соглашаюсь с мнением большинства - совершенно неадекватная цена в России. НО пусть цена была бы такая, если бы не два других недостатка: 
                        2. Очень слабый аккумулятор если устройство использовать более активно(не только звонки и смс, но и Инет, музыка и прочее): хватает на 1-1.5 дня.</p>

                        <p><b>Отзыв:</b> Я сам пользовался и слышал что говорят другие люди о современных смартфонах..... поэтому совсем не понимаю тех, кто в недостатки пишет малое время работы от одной зарядки батареи..... Скорее всего люди не пользовались смартфонами нормально(!) и не знают, что нет ни одного который проработает больше одного дня.....только не надо сейчас говорить о работе 3 дня.. в режиме ожидания- может быть, с выключенной геолокацией, сетью 3G, wi-fi,без инета..)))
                        У меня все это включено и есть... нормально хватает на день.. 
                        ....Я не зря написал в достоинствах, что Нет ничего лишнего..... нет немыслимых спецэффектов , анимированных обоев и т.д.... </p>
                    </div>
                    <div class="detail-mini">
                        <p> Я сам пользовался и слышал что говорят другие люди о современных смартфонах..... поэтому совсем не понимаю тех, кто в недостатки пишет малое время работы от одной зарядки батареи..... Скорее всего люди не пользовались смартфонами нормально(!) и не знают, что нет ни одного который проработает больше одного дня... <a href="#" class="review-view">Читать отзыв</a></p>
                        <div class="review-info">
                            <div class="review-info-author"><a href="/cabinet/18">Иван Иванов</a><!-- Ссылка на личную страницу пользователя--> - 21 декабря 2012</div>
                            <div class="review-info-count"><a href="#"><img src="img/reviews-2.png" alt="" /></a><span>(255)</span></div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="review-other">
            <div class="review-author"><a href="/cabinet/18">Иван Иванов</a><!-- Ссылка на личную страницу пользователя--> - 21 декабря 2012</div>
            <div class="review-good"><a href="#"><img src="img/go-good.png" /></a></div>
            <div class="review-soc">
							<a href="#"><img src="/assets/social/vk_small.png"></a>
							<a href="#"><img src="/assets/social/odnoklassniki_small.png"></a>
							<a href="#"><img src="/assets/social/mail_small.png"></a>
							<a href="#"><img src="/assets/social/facebook_small.png"></a>
							<a href="#"><img src="/assets/social/twitter_small.png"></a>
							<a href="#"><img src="/assets/social/google_small.png"></a>
            </div>
            <div class="review-count">
                <a href="#"><img src="img/reviews-2.png" alt="" /></a><span>(255)</span>
            </div>
            <div class="clear"></div>
        </div>
    </article>
</div>