<div id="contactsPanel">
    <div class="container">
        <div class="panel">
			<div class="panel-menu"><a href="#" class="active">Все</a><a href="#">Онлайн</a></div>
            <div class="title">Контакты</div>

			<div class="contact-scroll scrollable">
			  <div class="contact online">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-3.png" /><span class="new-msg"></span></a>
				  <div class="contact-name"><a href="#">Петров</a></div>
			  </div>
			  <div class="contact online">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-4.png" /></a>
				  <div class="contact-name"><a href="#">Петров Константин</a></div>
			  </div>
			  <div class="contact offline">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-1.png" /></a>
				  <div class="contact-name"><a href="#">Иван Иванов Иванович</a></div>
			  </div>
			  <div class="contact offline">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-2.png" /></a>
				  <div class="contact-name"><a href="#">Петров Константин Иванович</a></div>
			  </div>
			  <div class="contact offline">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-2.png" /></a>
				  <div class="contact-name"><a href="#">Петров Константин Иванович</a></div>
			  </div>
			  <div class="contact offline">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-3.png" /></a>
				  <div class="contact-name"><a href="#">Петров</a></div>
			  </div>
			  <div class="contact offline">
				  <a href="#" class="contact-img"><img src="/controlPanel/images/temp/ava-4.png" /></a>
				  <div class="contact-name"><a href="#">Петров Константин</a></div>
			  </div>
			</div>

        </div>
    </div>
</div>

<div class="messages scrollable">
    <div class="message unread">
        <div class="left">
            <img src="/controlPanel/images/temp/ava-1.png" alt="" />
        </div>
        <div class="content">
            <header>
                <p class="info">Иван Иванов, Сегодня в 21:00</p>
            </header>
            <div class="snippet">
                Бизнес-план — это проект вашего будущего дела, визитная карточка инвестиционного проекта. 
                Он предназначен для того, чтобы потенциальный инвестор или кредитор ознакомился с проектом 
                и заинтересовался в его реализации. Бизнес-план — это проект вашего будущего дела, визитная 
                карточка инвестиционного проекта. Он предназначен для того, чтобы потенциальный инвестор 
                или кредитор ознакомился с проектом и заинтересовался в его реализации.
            </div>
        </div>
    </div>
    
    <div class="message">
        <div class="left">
            <img src="/controlPanel/images/temp/ava-2.png" alt="" />
        </div>
        <div class="content">
            <header>
                <p class="info">Иван Иванов, Сегодня в 21:00</p>
            </header>
            <div class="snippet">
                Бизнес-план — это проект вашего будущего дела, визитная карточка инвестиционного проекта. 
                Он предназначен для того, чтобы потенциальный инвестор или кредитор ознакомился с проектом 
                и заинтересовался в его реализации. Бизнес-план — это проект вашего будущего дела, визитная 
                карточка инвестиционного проекта. Он предназначен для того, чтобы потенциальный инвестор 
                или кредитор ознакомился с проектом и заинтересовался в его реализации.
            </div>
        </div>
    </div>
    
    <div class="message">
        <div class="left">
            <img src="/controlPanel/images/temp/ava-3.png" alt="" />
        </div>
        <div class="content">
            <header>
                <p class="info">Иван Иванов, Сегодня в 21:00</p>
            </header>
            <div class="snippet">
                Бизнес-план — это проект вашего будущего дела, визитная карточка инвестиционного проекта. 
                Он предназначен для того, чтобы потенциальный инвестор или кредитор ознакомился с проектом 
                и заинтересовался в его реализации. Бизнес-план — это проект вашего будущего дела, визитная 
                карточка инвестиционного проекта. Он предназначен для того, чтобы потенциальный инвестор 
                или кредитор ознакомился с проектом и заинтересовался в его реализации.
            </div>
        </div>
    </div>
    
</div>
