<div class="entity-bottom eb-page sharing">
	<div class="social-caption">Поделиться в соц. сетях</div>
	<div class="entity-bottom-soc">
			<a href="#"><img src="/assets/social/google.png" /></a>
			<a href="#"><img src="/assets/social/odnoklassniki.png" /></a>
			<a href="#"><img src="/assets/social/vk.png" /></a>
			<a href="#"><img src="/assets/social/mail.png" /></a>
			<a href="#"><img src="/assets/social/facebook.png" /></a>
			<a href="#"><img src="/assets/social/twitter.png" /></a>
	</div>
	<div class="clear"></div>
</div>