<div class="simple-item">
    <div class="image"><img src="<%= entity.image.thumb %>" alt="" /></div>
    <a href="<%= entity_path entity %>" class="tit"><%= entity.name %></a>
    <p class="bold"><%= number_with_delimiter entity.price %>р.</p>
</div>
