<!DOCTYPE html>
<html>
<head>
<title>Naobzore</title>
<style>
</style>
</head>
<body>
Пользователь <%= @user.fio %> приглашает вас зарегистрироваться на портале <a href="http://naobzore.ru">Naobzore</a>.
</body>
</html>	
