/* проверка браузера */
$(document).ready(function(){
	(function (){
	if ($.browser.msie && $.browser.version < 8 ||
		$.browser.opera && $.browser.version < 11 ||
		$.browser.mozilla && $.browser.version < 5 ||
		$.browser.safari && $.browser.version < 3){
		var old_browser_html = "<div class='oldbrowser-mask' data-role='closeable-mask'></div><div class='oldbrowser-popup' data-role='closeable'><span class='button-close' data-role='close'></span><div class='op-title'>Ваш браузер устарел</div><div class='op-desc'>Вы пользуетесь устаревшим браузером, который не&nbsp;поддерживает современные веб-стандарты и&nbsp;представляет угрозу вашей безопасности.<br><br>Пожалуйста, установите современый браузер:<div class='op-icons'><a href='https://www.google.ru/intl/ru/chrome/browser/' target='_blank' class='op-icon op-icon_chrome'></a><a href='http://mozilla-russia.org/'  target='_blank' class='op-icon op-icon_moz'></a><a href='http://www.opera.com/ru'  target='_blank' class='op-icon op-icon_opera'></a><a href='http://www.apple.com/ru/safari/'  target='_blank' class='op-icon op-icon_safari'></a><a href='http://windows.microsoft.com/ru-ru/internet-explorer/download-ie' target='_blank' class='op-icon op-icon_ie'></a><div class='clear'></div></div></div><div class='op-footer'><span class='logotype-medium'></span> Продолжить работу, ничего не устанавливая. &nbsp;<span class='next-arr-green' data-role='close'></span></div></div>";
			
		$('body').append(old_browser_html);
	}
	})();

})


  