<!--Попап для описания-->
    <div class="popup hidden" data-type="description">
        <header>
            <div class="left"><h2 class="title">Описание</h2></div>
            <div class="right"><a class="close" href="#"></a></div>
        </header>
        
        <div class="description">
            <textarea name="result"></textarea>
        </div>
        
        <footer>
            <div class="left"></div>
            <div class="right"><a href="#" class="blue-button choice">Сохранить</a></div>
        </footer>
    </div>
