<div class="jobs-items">
  <% if @jobs.count > 0 %>
		<%= render @jobs %>
	<% else %>
		<div class="empty-content">Вакансий нет</div>
	<% end %>
</div>
<%#= will_paginate @jobs, :renderer => 'BootstrapPaginationHelper::RemoteLinkRenderer', :previous_label => '', :next_label => '' %>
<div class="pagination-separator" style="display:none;"><div class="ps-page">Страница <span class="ps-page-num" data-page="1">1</span></div></div>
<a href="#" class="pagination-link">
	Показать еще <%=  !params[:count].blank? ? params[:count] : 10 %>
</a>