<div class="popup-pass">
  <div class="popup-pass-close"><a href="#"><img src="/assets/popup-close.png" alt="" /></a></div>
  <div class="popup-title">
    Восcтановление пароля
  </div>
  <div class="popup-content-simple">
    <p>Для восстановления доступа к сайту, введите адрес электронной почты, указанный при регистрации. На указанный Вами адрес, будет выслано письмо с новым паролем.</p>
  </div>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div class="popup-email">
    E - mail <%= f.email_field :email, :type => 'text' %><%= f.submit "Выслать" %>
  </div>
  <% end %>
</div>